/* Estilos generales */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Estilo para la navegacion de secciones*/

.scroller {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

section.page1 {
    background-color: #000;
    background-image:url(assets/milad-fakurian-58Z17lnVS4U-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/*Header*/
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 66px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .navbar .logo a {
    font-size: 1.5 rem;
    font-weight: bold;
} */

img{
    height: 40px;
    filter: opacity(5);
    
}

img:hover{
    filter: opacity(.5);
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 180px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroller>section {
    flex: 0 0 100vh;
    width: 100%;
    /* font-size: 100px; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

section#hero {
    height: calc(100vh-60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/*Responsive Design*/
@media (max-width:992px) {

    .navbar .links,
    .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width:576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


.scroller>section:nth-child(2) {
    background-color: azure;
    display: flex;
    font-size: 100px;
}

.scroller>section:nth-child(3) {
    background-color: antiquewhite;
    display: flex;
    font-size: 100px;
}

.scroller>section:nth-child(4) {
    background-color: aqua;
    display: flex;
    font-size: 100px;
}

.scroller>section:nth-child(5) {
    background-color: blueviolet;
    display: flex;
    font-size: 100px;
}

/* ejemplo de cada dos paginas el color */
/* .scroller > section:nth-child(2n){
    background-color: azure;
} */

/* Estilos para la barra de navegacion scroller*/

.scroller::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}